#Header{
  background: url(../Assests/Header-BG.png);
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  margin-top: -5px;
  width: 100%;
  height: 90vh;
}
#Header-Container h2{
  color: #000;
}
.col-6{
  border: 2px solid red;
}
#Header-Container .card{
  padding: 10px 20px;
  background: transparent;
  backdrop-filter: blur(30px);
  border: none;
  border-radius: 20px;
  flex-wrap: wrap;
}